
/*STYLE FOR INDEX.HTML
---------------------------------------------------------------------------------*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#navLogo {
	max-width: 200px;
}

#signUpPopUp {
	width: 40%;
	background-color: white;
}

/*arrow-box is the arrow on the signup/login popups*/
.arrow_box {
	position: relative;
	background: #ffffff;
	border: 3px solid #00bfa5;
	border-radius: 10px;
	padding: 3%;
	margin-top: 30px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
	
}
.arrow_box:before {
	border-color: rgba(0, 191, 165, 0);
	border-bottom-color: #00bfa5;
	border-width: 34px;
	margin-left: -34px;
	border-radius: 10px;
}

.progress-wrapper{
    position: relative;
    margin:20px auto;
    font-size: 40px;
}

.progress{
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.clock {
	display: block;
	margin: auto;
	text-align: center;
	vertical-align: center;
}

/*
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}*/

/*main {
	flex: 1 0 auto;
}*/

/*STYLE FOR CIRCLE GRAPH
---------------------------------------------------------------------------------*/

/*STYLE FOR CALENDAR
---------------------------------------------------------------------------------*/
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

/*STYLE FOR BARGRAPH
---------------------------------------------------------------------------------*/

.bar {
	fill: #45ccce;
}

.bar:hover {
	fill: teal;
}

.axis text {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

svg#barChart {
	margin-top: 30px;
}

/*STYLE FOR BADGES SECTION
---------------------------------------------------------------------------------*/
#badge{
	width: 100px;
	padding: 5px;
}

.list-group-item {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
