<div id="goalTitle" class="white deep-orange-text text-accent-1 text-center">
		<h1 class="titleAct">{{userGoals[0].goalname}}</h1>
<!-- 		<div id="dropdown1" class="dropdown-content" >
			<div ng-repeat="goal in userGoals">{{userGoals[0].goalname}}</div>
		</div>  -->
	<h2 ng-show="showDailyGoal()">goal for today: {{scheduleArray[currDay].hours}} hours!</h2>
</div>
<div>{{userGoals[1].goalname}}</div>
<hr>

<div id="graphs" class="container">
	<div id="heatmap">
    	<h5 id="heatMapDate">{{date | date: "MMM yyyy"}}</h5>
    </div>
	<div id="time" ng-init="started = true; stopped = false; restarted = false; reset = false; done = false">
		<timer id="first" interval="60" autostart="false">{{hours}} hour{{hoursS}} : {{minutes}} minute{{minutesS}} : {{seconds}} second{{secondsS}}</timer>
		<timer id="first" interval="60" autostart="false">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: {{seconds*1.667}}%;"></div>
			</div>
		</timer>   
		<div class="wrapper">
			<a class="button button-border-action button-circle" ng-click="startTimer(); restarted = true; started = false; reset = false; done = false" ng-show="started">Start</a>

			<a class="button button-border-highlight button-circle" ng-click="resumeTimer(); restarted = true; stopped = false" ng-show="stopped">Resume</a>

			<a class="button button-border-caution button-circle" ng-click="stopTimer(); stopped = true; restarted = false" ng-show="restarted">Stop</a>

			<a class="button button-border-primary button-circle" ng-click="resetTimer(); reset = true; stopped = false; restarted = false; started = true;">Reset</a>

			<a class="button button-border-royal button-circle" ng-click="started = true; stopped = false; resetTimer(); doneTimer(); reset = true; restarted = false;">Done</a>
			</div>
		</div>
    </div>
</div>

<hr>

<div class="container centerText">
	<div id="graphArea" class="row">
		<div id="circleGraph" class="container-fluid col-xs-12 col-md-6 progress-wrapper">
			<h5 class="graphLabel">lifetime progress</h5>
			<div class="progresss" ng-style="getStyle()">
				{{Math.round(totaltime.$value/3600000)}}/10000
			</div>
	        <div
	            round-progress
	            max="10000"
	            current="Math.round(totaltime.$value/3600000)"
	            color="#45ccce"
	            bgcolor="#eaeaea"
	            radius="150"
	            stroke="30"
	            semi="false"
	            rounded="true"
	            clockwise="true"
	            responsive="false"
	            duration="800"
	            animation="easeInOutQuart">
	        </div>
		</div>
		<div class="container-fluid col-xs-12 col-md-6">
			<h5 class="graphLabel">weekly progress</h5>
	    	<svg class="barChart">
	    	</svg>
		</div>

	</div>
</div>
<hr>

<div class="container" id="badgelist" ng-show="userbadges.length>0">	
    <h3 class='deep-orange-text text-accent-1 text-center'>Badges</h3>
    <h5 class="grey-text text-darken-1 text-center">click on a badge to see its name</h5>
	<div ng-repeat="badge in userbadges" class="eachBadge {{'a' + badge['$id']}}" ng-mouseover="droplet(badge)">
		<img class="badges" ng-src={{allbadges.$getRecord(badge.$value).url}}>
	</div>
</div>

