<div id="calendar">
</div>
<!-- 	<div 
		class="clock"
		round-progress
	    max="10000"
	    current="curr" 
	    color="#45ccce"
	    bgcolor="#eaeaea"
	    radius="130"
	    stroke="30"
	    semi="false"
	    rounded="true"
	    clockwise="true"
	    responsive="false"
	    duration="800"
	    animation="easeInOutQuart">
	    	<div
		    	class="clock"
				round-progress
			    max="10000"
			    current="curr" 
			    color="#45ccce"
			    bgcolor="#eaeaea"
			    radius="100"
			    stroke="30"
			    semi="false"
			    rounded="true"
			    clockwise="true"
			    responsive="false"
			    duration="800"
			    animation="easeInOutQuart">
		    	<div
			    	class="clock"
					round-progress
				    max="10000"
				    current="curr" 
				    color="#45ccce"
				    bgcolor="#eaeaea"
				    radius="70"
				    stroke="30"
				    semi="false"
				    rounded="true"
				    clockwise="true"
				    responsive="false"
				    duration="800"
				    animation="easeInOutQuart">
		    	</div>
	    	</div> -->


<div id="heatmap">

</div>

<hr>

<div id="graphArea" class="row">
	<div id="circleGraph" class="container-fluid col-xs-12 col-md-6 progress-wrapper">
		<div class="progresss ng-cloak circleStyle" ng-style="getStyle()">
			100/200
		</div>
        <div
            round-progress
            max="200"
            current="100"
            color="#45ccce"
            bgcolor="#eaeaea"
            radius="150"
            stroke="30"
            semi="false"
            rounded="true"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart">
        </div>
	</div>

    <svg id="barChart" class="col-xs-12 col-md-6">
    </svg>

</div>

<hr>

<div id="badgelist" ng-show="userbadges.length>0">	
	<ul class="list-group">
		<li id="badgeListItem" ng-repeat="badge in userbadges" class="list-group-item col-xs-4 col-md-1">			
			<p>{{allbadges.$getRecord(badge.$value).name}}</p>
			<img id="badge" ng-src={{allbadges.$getRecord(badge.$value).url}}>
		</li>
	</ul>
</div>
