<h1 id="goalTitle">{{userGoals[0].goalname}}</h1>
<h2 id="dailyGoal" ng-show="showDailyGoal()">your goal for today is: {{daysOfWeekArray[currDay].hours}} hours!</h2>
<p>{{specificLogArray.day}}</p>
<div class="container">
    <div class="row">
    	<!-- Heatmap section -->
    	<div class="col-xs-12 col-md-6">
	        <div id="heatmap">
	        	<h5 id="heatMapDate">{{date | date: "MMM yyyy"}}</h5>
	        </div>
    	</div>	
    	<!-- Timer section -->
        <div class="col-xs-12 col-md-6">
			<div id = "time">
				<timer id="first" interval="100" autostart="false">{{hours}} hour{{hoursS}} : {{minutes}} minute{{minutesS}} : {{seconds}} second{{secondsS}}</timer>
				<timer id="first" interval="60" autostart="false">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: ({{seconds}} * 1.66)%;">
						</div>
					</div>
				</timer>   
				<!-- Buttons for the timer -->
				<div class="wrapper">
					<a class="button button-border-action button-circle" ng-click="startTimer()" ng-disabled="timerStarted" ng-show="started">Start</a>

					<a class="button button-border-highlight button-circle" ng-click="resumeTimer()" ng-disabled="!timerRunning" ng-show="stopped">Resume</a>

					<a class="button button-border-caution button-circle" ng-click="stopTimer()" ng-disabled="timerRunning" ng-show="restarted">Stop</a>

					<a class="button button-border-primary button-circle" ng-click="done()">Done</a>

					<!-- <a class="button button-border-royal button-circle">Submit</a> -->
				</div>
			</div>
        </div>
    </div>
</div>

<hr>

<div class="container centerText">
	<div id="graphArea" class="row">
		<div id="circleGraph" class="container-fluid col-xs-12 col-md-6 progress-wrapper">
			<h5 class="graphLabel">lifetime progress</h5>
			<div class="progresss" ng-style="getStyle()">
				{{Math.round(totaltime.$value/3600000)}}/10000
			</div>
	        <div
	            round-progress
	            max="10000"
	            current="Math.round(totaltime.$value/3600000)"
	            color="#45ccce"
	            bgcolor="#eaeaea"
	            radius="150"
	            stroke="30"
	            semi="false"
	            rounded="true"
	            clockwise="true"
	            responsive="false"
	            duration="800"
	            animation="easeInOutQuart">
	        </div>
		</div>
		<div class="container-fluid col-xs-12 col-md-6">
			<h5 class="graphLabel">weekly progress</h5>
	    	<svg class="barChart" class="">
	    	</svg>
		</div>

	</div>
</div>
<hr>

<div class="container" id="badgelist" ng-show="userbadges.length>0">	
    <h3>Badges:</h3>
	<div ng-repeat="badge in userbadges" class="eachBadge">
		<p>{{allbadges.$getRecord(badge.$value).name}}</p>
		<img class="badges" ng-src={{allbadges.$getRecord(badge.$value).url}}>
	</div>
</div>






