<div class="slider">
    <ul class="slides">
    	<li>
    	 	<img src="../img/twoGuitarLg.jpg"> <!-- random image -->
    	 	<div class="caption center-align">
    	    	<h3>welcome to amateur hour</h3>
    	    	<!-- <h5 class="light grey-text text-lighten-3">Where we use irrelevant pictures of nature</h5> -->
    	  	</div>
    	</li>
		<li>
			<img src="../img/drawingLg.jpg"> <!-- random image -->
			<div class="caption center-align">
				<h3>welcome to amateur hour</h3>
				<!-- <h5 class="light grey-text text-lighten-3">Where we use irrelevant pictures of nature</h5> -->
			</div>
		</li>
		<li>
			<img src="../img/cameraLg.jpg"> <!-- random image -->
			<div class="caption center-align">
		  		<h3>welcome to amateur hour</h3>
		  		<!-- <h5 class="light grey-text text-lighten-3">Where we use irrelevant pictures of nature</h5> -->
			</div>
		</li>
		<li>
			<img src="../img/codingLg.jpg"> <!-- random image -->
			<div class="caption center-align">
		  		<h3>welcome to amateur hour</h3>
		  		<!-- <h5 class="light grey-text text-lighten-3">Where we use irrelevant pictures of nature</h5> -->
			</div>
		</li>
    </ul>
</div>


<div id="explanation">
	<div class="colorBlock card-panel teal accent-4">
	</div>
	<div id="mainText" class="container">
		<h1 class="headerText deep-orange-text text-accent-1" id="bigHeader">It may take 10,000 hours to go from amateur to expert...</h1>
		<h3 class="headerText grey-text text-darken-3">but we'll get you there one hour at a time</h3>

		<div id="mainTextIcons" class="row">
			<div class="col-xs-12 col-md-4 iconDiv">
				<div class="iconDivText textCenter">
					<i class="fa fa-check-circle fa-5x"></i>
					<p class="iconDivText">Easy to use interface lets you view your data in different ways!</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 iconDiv">
				<div class="iconDivText textCenter">
					<i class="fa fa-clock-o fa-5x"></i>
					<p>Keep track of how much progress you've made on each goal by logging hours with our timer!</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 iconDiv">
				<div class="iconDivText textCenter">
					<i class="fa fa-flag fa-5x"></i>
					<p class="iconDivText">Keep yourself motivated by collecting badges and adding new goals!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="colorBlock card-panel teal accent-4">
	</div>
</div>


<div class="parallax-container">
    <div class="parallax"><img src="../img/darkClockLg.jpg"></div>
    <img id="clockLogo" src="../img/amateur-logo.png">
</div>

<div id="howDoesItWork">
	<div class="colorBlock card-panel teal accent-4">
	</div>
	<div id="howContent" class="container">
		<h2 class="text-center deep-orange-text text-accent-1">How does it work?</h2>
		<div class="featurette grey-text text-darken-1">
			<img class="featurette-image pull-left" src="../img/timer.png">
			<h2 class="featurette-heading">Time Your Activities</h2>
			<p class="lead">The theory of becoming an expert taking 10,000 hours was popularized in Malcolm Gladwell's book <span class="book">Outliers</span>. We want to help you on your journey to becoming a master at anything by tracking the amount of time you've dedicated to that activity.</p>
		</div>
		<hr class="featurette-divider">
		<div class="featurette grey-text text-darken-1">
			<img class="featurette-image pull-right" src="../img/calendar.png">
			<h2 class="featurette-heading">View Your Time Calendar</h2>
			<p class="lead">We created a gorgeous calendar to show you how many hours you've spent on your activities this month. The darker the colors, the more time you spend that day!</p>
		</div>
		<hr class="featurette-divider">
		<div class="featurette grey-text text-darken-1">
			<div id="featuretteCirleGraph" class="featurette-image pull-left">
		        <div id="circleGraph" class="container-fluid progress-wrapper">
					<div class="progresss" ng-style="getStyle()">
						3500/10000
					</div>
			        <div
			            round-progress
			            max="10000"
			            current="3500"
			            color="#45ccce"
			            bgcolor="#eaeaea"
			            radius="150"
			            stroke="30"
			            semi="false"
			            rounded="true"
			            clockwise="true"
			            responsive="false"
			            duration="800"
			            animation="easeInOutQuart">
			        </div>
				</div>
			</div>
			<h2 class="featurette-heading">Track Total Hours</h2>
			<p class="lead">Track your total number of hours with our beautiful circle graph. It dynamically updates as you add more hours and tells you how close you are to becoming an expert!</p>
		</div>
		<hr class="featurette-divider">
		<div class="featurette grey-text text-darken-1">
			<svg class="barChart featurette-image pull-right"></svg>
			<h2 class="featurette-heading">Weekly Progress</h2>
			<p class="lead">See how many hours you spent per day of the week. We utilize a clean, simple to understand bar graph to show you how much of your past week you've spent towards yoru goal!</p>
		</div>
	</div>
	<div class="colorBlock card-panel teal accent-4">
	</div>
</div>

<div class="parallax-container">
    <div class="parallax"><img id="piano" src="../img/clockLg.jpg"></div>
</div>
<!--
<div class="colorBlock card-panel teal accent-4"></div>
<div id="contactUsForm" class="container centerText" ng-show="formSubmit" ng-init="formSubmit=true">
	<h2 class='deep-orange-text text-accent-1'>Contact Us</h3>   --> <!-- id="contactus"-->
	<!--<h4 class="grey-text text-darken-1">We'd love to hear from you!</h4>
	<div id="contactForm">
		<div class="row">
	    <form class="col s12" name="contactform">
	      <div class="row">
	        <div class="input-field col s6">
	          <input ng-model="first_name" type="text"  ng-required="true">
	          <label for="first_name">First Name</label>
	        </div>
	        <div class="input-field col s6">
	          <input ng-model="last_name" type="text" >
	          <label for="last_name">Last Name</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12" ng-class="{'has-error':contactform.email.$touched && contactform.email.$invalid}">
	          <input ng-model="email" name="email" type="email" ng-required="true" ng-model="user.email" required>
	          <label for="email">Email</label>
	          <p class="help-block" ng-show="contactform.email.$error.email">Please enter a valid email</p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <textarea ng-model="textarea1" class="materialize-textarea"></textarea>
	          <label for="textarea1">Textarea</label>
	        </div>
	      </div>
	      <button class="btn waves-effect waves-light teal accent-4" type="submit" name="submit" ng-disabled="contactform.$invalid" ng-click="formSubmit=false; submitClick()">Submit</button>
	    </form>
	  </div>
	</div>
</div>
-->
<div class="container centerText" id="thanks" ng-hide="formSubmit">
	<h3 id="contactus">Thank you!</h3>
	<h4>We will be in contact shortly</h4>
</div>
