<!-- <div id="calendarArea">
</div>
<div id="graphArea">
	<div id="circleGraph" class="container-fluid">
		<div 
			round-progress 
			max="10000" 
			current="600" 
			color="#45ccce" 
			bgcolor="#eaeaea"
			radius="100"
			stroke="20"
			rounded="true"
			clockwise="true"
			responsive="false"
			duration="800">
		</div>
		<progress-arc
			size="100"
			stroke="round"
			stroke-width="20"
			progress=".75">
		</progress-arc>
	</div>
	<div id="barGraph">
	</div>
</div>
<div id="badges">
</div> -->
