

<form ng-show="!userId" name="myForm" novalidate>
<!-- Sign-in/sign-up form: show if userId isn't defined -->

	<!-- Bind model "email" to this input and make it required -->
	<div class="form-group">
		<label>Email:</label>
		<input name="email" type="email" class="form-control" ng-model="email" required></input>

		<!-- Show an error message if the email is not valid -->	
		<p ng-show="myForm.email.$error.email">not email</p>
	</div>

	<!-- Password -->
	<div class="form-group">
		<label>Password:</label>
		<input  name="password" type="password" class="form-control" ng-model="password" required></input>      
	</div>

	<!-- Submit buttons: should only be active if certain inputs are valid -->
	<div class="form-group">
		<button ng-click="signIn()" ng-disabled="myForm.email.$invalid || myForm.password.$invalid" type="submit" class="btn btn-primary">Sign-in</button>
		<p>If you don't have an account : <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#newUser">Sign Up</button></p>
	</div>
	<!-- modal that pops up to create account-->
	<div id="newUser" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="content">
				<div class="modal-header">
					<h4 class="modal-title">Create Your Account</h4>
				</div>
				<form name="createUser" novalidate>
					<label>Name:</label>
					<input name="name" class="form-control" ng-model="name" ng-minlength="2" required>					
						<!-- Add an error message if the length is too short -->	
					<p ng-show="myForm.name.$error.minlength">too short</p>

					<!-- Bind model "email" to this input and make it required -->
					<div class="form-group">
						<label>Email:</label>
						<input name="email" type="email" class="form-control" ng-model="email" required></input>

						<!-- Show an error message if the email is not valid -->	
						<p ng-show="myForm.email.$error.email">not email</p>
					</div>

					<!-- Password -->
					<div class="form-group">
						<label>Password:</label>
						<input  name="password" type="password" class="form-control" ng-model="password" required></input>      
					</div>
					<!-- sign up or close -->
					<div class="modal-footer">
						<button ng-click="signUp()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary" data-dismiss="modal">Sign-up</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</form>
		