<!-- 
	Group 5
	 Info-343
	 Final Project
	 December 9, 2015
	 HTML for our new goal page
 -->

<form name="signUpForm" novalidate>
		<div id="nameSelect" class="form-group container">
			<label>Goal Title:</label>
			<input name="goalTitle" type="text" ng-model="goalTitle" required></input>
			<div class="container-fluid" id="hourSelect">
				<div class="row">
					<div class="col-md-3 col-xs-5" ng-repeat="n in weekArray" class="eachSelect">
						<label>{{n}}</label>
						<input id="{{n}}"  type="number" min="0" max="10"></input>
					</div>
				</div>
			</div>
		</div>
		<!-- Submit buttons: should only be active if certain inputs are valid -->
		<div id="submitButtons" class="container">
			<div class="form-group">
				<button ng-click="create=false" ui-sref="dashboard" class="btn btn-primary">Cancel</button>
				<button ng-click="createGoal()" ui-sref="dashboard"  ng-disabled="signUpForm.$invalid" type="submit" class="btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</form>